{{> head }}
{{> navbar }}
<div class="container">
    <div class="col-md-12"><br>
        <h1>Crear curso</h1>
        <br>
        <form action='/view-course' method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Nombre Curso</label>
                    <input type="text" name='nombre' class="form-control" placeholder="Nombre Curso" required>
                </div>
                <div class="form-group col-md-6">
                    <label>Id Curso</label>
                    <input type="text" name='codigo' class="form-control" placeholder="Id Curso" required>
                </div>
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <textarea class="form-control" name='descripcion' rows="2" required></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Modalidad</label>
                    <select class="form-control" name='modalidad'>
                        <option>Virtual</option>
                        <option>Presencial</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Valor</label>
                    <input type="text" class="form-control" name='valor' placeholder="Valor" required>
                </div>
             </div>
            <div class="form-row">
                    <div class="form-group col-md-6">
                    <label>Estado</label>
                    <select class="form-control" name='estado' disabled>
                        <option>Disponible</option>
                        <option>Cerrado</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Intensidad Horaria</label>
                    <input type="text" class="form-control" name='duracion' placeholder="Intensidad horaria" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
    </div>
</div>
<br><br><br><br>
{{> footer }}