{{> head }}

    {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenidos</h1>
        <p class="lead">Tecnológico de Antioquia</p>
        <hr class="my-4">
        <p>El Tecnológico de Antioquia - Institución Universitaria (TdeA), también conocido como el Tecnológico de Antioquia, es una institución de educación superior de Colombia, ubicada en el departamento de Antioquia. Su sede principal se encuentra en Robledo, en la ciudad de Medellín.</p>
    </div>

{{> footer }}