{{> head }}
{{> navbar }}

<div class="container">
    <div class="col-md-12"><br>
        <h1>Estudiantes</h1>
        <br>
        {{{mostrarEst}}}
    </div>

    <br>
    <h1>Listado de Cursos por Estudiantes</h1>
    <br>
    <div class="center-block">
        {{{mostrarCursosEst}}}
    </div>
</div>
</div>



{{> footer }}