{{> head }}
{{> navbar }}

<div class="container">
     <div class="col-md-12"><br>
    <br>
    <h1>Actualizar Curso</h1>
    <br>
    <form action='/view-course-updated' method="POST">
     <div class="col-md-6">
    {{{mostrarCollapse}}}
    </div>
    </form>
    </div>
    </div>
    <br><br><br><br>
{{> footer }}